HOST=0.0.0.0
PORT=1337

APP_KEYS=toBeModified1,toBeModified2
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=cms_db
DATABASE_USERNAME=admin
DATABASE_PASSWORD=admin
DATABASE_SSL=false

# Seed admin (dùng cho bootstrap lần đầu)
SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=Admin@12345
SEED_ADMIN_FIRSTNAME=Super
SEED_ADMIN_LASTNAME=Admin
